<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/02863f79d4.js"></script>
  <link rel="stylesheet" href="/static/ggstylesheet.css"
 </head>
 <body>
<!--Navagation-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="#">A passion for coding!</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
      <a class="nav-link" href="#">About</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
     </li>
    </ul>
   </div>
  </nav>
<!--Header-->
  <header class="container" id="maincontent" tabindex="-1">
   <div class="row">
    <div class="col-lg-12">
     <img class="rounded-circle" src="static/img/mobile-phone-1875813_1920.jpg" alt="gene grilli" width="90%">
      <div class="intro-text">
       <h1 class="name">Gene Grilli</h1>
        <hr class="star-light">
        <span class="skills">Full Stack Developer</span>
      </div>
    </div>
   </div>
  </header>
<!--Video-->
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="static/binary-2326145_1920.jpg" class="fullscreen-bg__video">
        <source src="static/img/earth-1236.webm" type="video/webm">
        <source src="static/img/binary-847.mp4" type="video/mp4">
        <source src="static/img/earth-1236.ogg" type="video/ogg">
    </video>
 </div>
<!--Portfolio-->
  <section id="portfolio">
   <div class="container">
    <div class="row">
     <div class="col-lg-12 text-center">
     <h2>Recent Projects</h2>
     <hr class="star-primary">
    </div>
  </div>
  <div class="row">
   <div class="col-sm-4 portfolio-item">
    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
     <div class="caption">
      <div class="caption-content">
       <i class="fa fa-search-plus fa-3x"></i>
      </div>
     </div>
    <img src="/static/img/scorehoard.png" class="rounded" alt="ScoreHoard">
    </a>
    </div>
  <div class="col-sm-4 portfolio-item">
   <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
   <div class="caption">
    <div class="caption-content">
     <i class="fa fa-search-plus fa-3x"></i>
    </div>
   </div>
   <img src="/static/img/station.png" class="rounded" alt="Weather Station">
  </a>
 </div>
 <div class="col-sm-4 portfolio-item">
  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
   <div class="caption">
    <div class="caption-content">
     <i class="fa fa-search-plus fa-3x"></i>
    </div>
    </div>
     <img src="/static/img/ktrack.png" class="rounded" alt="K Track">
  </a>
  </div>
 </div>
</div>
  </section>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 </body>
</htmll>