<!--Header-->
<header class="success" id="maincontent" tabindex="-1">
 <div class="row">
  <div class="col-sm-12">
   <div class="embed-responsive embed-responsive-16by9 headVideo">  
    <video loop muted autoplay class="embed-responsive-item rounded-circle" poster="static/img/mobile-phone-1875813_1920.jpg">
     <source src="static/img/earth-1236.webm" type="video/webm">
     <source src="static/img/computer_5074.mp4" type="video/mp4">
     <source src="static/img/earth-1236.ogg" type="video/ogg">
    </video>
   </div>
   <div class="intro-text">
    <h1 class="name">Gene Grilli</h1>
     <hr class="star-light">
     <span class="skills">Full Stack Developer</span><br>
   </div>
  </div>
 </div>
</header>
<!--Portfolio-->
<section id="portfolio">
 <div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>Recent Projects</h2>
    <hr class="star-primary">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-4 portfolio-item">
    <a href="#scorehoard" class="portfolio-link" data-toggle="modal">
     <div class="caption">
      <div class="caption-content">
       <i class="fa fa-search-plus fa-2x"></i>
       <h5>ScoreHoard</h5>
      </div>
     </div>
    <img src="/static/img/scorehoardMain.png" class="img-fluid" alt="ScoreHoard"></a>
  </div>
  <div class="col-lg-4 portfolio-item">
   <a href="#station" class="portfolio-link" data-toggle="modal">
   <div class="caption">
    <div class="caption-content">
     <i class="fa fa-search-plus fa-2x"></i>
     <h5>Weather Station</h5>
    </div>
   </div>
   <img src="/static/img/stationMain.png" class="img-fluid" alt="Weather Station">
  </a>
 </div>
 <div class="col-lg-4 portfolio-item">
   <a href="#ktrac" class="portfolio-link" data-toggle="modal">
   <div class="caption">
    <div class="caption-content">
     <i class="fa fa-search-plus fa-2x"></i>
     <h5>K-Track</h5>
    </div>
    </div>
     <img src="/static/img/ktracMain.png" class="img-fluid" alt="K Track">
   </a>
   </div>
  </div>
 </div>
</section>


<!-- About Section -->
<section class="success" id="about">
 <div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>About</h2>
    <hr class="star-light">
   </div>
  </div>
 </div>
 <div class="container">
  <div class="row">
   <div class="col-sm-6 text-center">
    <p>I'm a full stack developer based in Houston, Texas. I studied electronics, 
    pneumatics, and hydraulics while in the US Navy. I have over 20 years’ 
    experience working with test and instrumentation, succeeding in various 
    roles from service engineer to director of sales and marketing.
    </p>
    <p>With the help of freeCodeCamp, CodeAcademy and DigitalCrafts, I have 
    transformed myself from just another sales engineer into a full-stack developer.
    </p> 
    <p> Learning software development has enabled me to apply my experience from 
    my engineering and sales roles into the production of software tools that can 
    be used by anyone.</p> 
    <p>The possibilities are awesome!</p>
   </div>
   <div class="col-sm-2 text-center">
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark"></i>
    <i class="devicon-postgresql-plain-wordmark"></i>
    <i class="devicon-mysql-plain-wordmark"></i>
    <i class="devicon-amazonwebservices-original"></i>
   </div>
   <div class="col-sm-2 text-center">
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-django-line-wordmark"></i>
    <i class="devicon-sass-original"></i>
    <i class="devicon-react-original-wordmark"></i>
    <i class="devicon-debian-plain-wordmark"></i>
    <i class="devicon-nginx-original-wordmark"></i>
   </div>
   <div class="col-sm-2 text-center">
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-jquery-plain-wordmark"></i>
    <i class="devicon-heroku-original-wordmark"></i>
    <i class="devicon-mocha-plain"></i>
    <i class="devicon-wordpress-plain-wordmark"></i>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 text-center">
    <a href="static/img/g_grilli_resume.pdf" download='gene_grilli.pdf' class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> Download Resume</a>
   </div>
  </div>
 </div>
</section>


<!-- Contact Section -->
<section id="contact">
 <div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>Contact Me</h2>
    <hr class="star-primary">
   </div>
  </div>
<div class="row">
   <div class="col-lg-8 col-lg-offset-2">
    <form id="gform" method="POST" class="pure-form pure-form-stacked"
    action="https://script.google.com/macros/s/AKfycbysRRXUHPdVckcAala3roWPhGSfl2t7xcM5hCdSWXNkNOC2v_mA/exec">
     <label class="sr-only">Keep this field blank</label>
     <input id="honeypot" type="text" name="honeypot" value="" />
     <div class="row control-group">
      <div class="form-group col-md-12 floating-label-form-group controls">
       <label for="name">Name: </label>
  <input id="name" name="name" placeholder="Name" />
      </div>
     </div>
     <div class="row control-group">
     <div class="form-group col-md-12 floating-label-form-group controls">
      <label for="email"><em>Your</em> Email Address:</label>
      <input id="email" name="email" type="mail" value=""
      required placeholder="Email Address"/>
      <span id="email-invalid" style="display:none">
        Must be a valid email address</span>
     </div>
    </div>
    <div class="row control-group">
     <div class="form-group col-md-12 floating-label-form-group controls">
       <label for="phone">Favourite Color: </label>
      <input id="phone" name="phone" placeholder="Phone Number" />

     </div>
    </div>
    <div class="row control-group">
     <div class="form-group col-md-12 floating-label-form-group controls">
      <label for="message">Message: </label>
      <textarea id="message" name="message" rows="5"
      placeholder="Message"></textarea>
    </div>
   </div>
   <br>
   <div id="success"></div>
    <div class="row">
     <div class="col-lg-12 text-center">
      <button type="submit" class="btn btn-success btn-md"><i class="fa fa-paper-plane"></i>Send</button>
     </div>
    </div>
  </form>
 </div>
</div>
<div style="display:none;" id="thankyou_message">
    <h2><em>Thanks</em> for contacting me!
      I will get back to you soon.</h2>
  </div>
</section>

<!--Modals-->
<div class="modal fade" id="scorehoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">June 2017</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h2>ScoreHoard</h2>
       <hr class="star-primary">
       <img src="static/img/scorehoardModal.png" class="img-fluid img-centered" alt="">
       <h3>Application</h3>
       <p>Let ScoreHoard store your scoring data for you. Game makers can use the ScoreHoard API 
       to avoid the hassles of database management. The ScoreHoard custom system allows direct 
       access to style custom leaderboards and high scores table. 
       Let your imagination take root in the ScoreHoard API to create special tracking dashboards.
       <h3>How it works</h3>
       <p>
        ScoreHoard is a RESTful API that tracks scores for videogame makers. ScoreHoard allows 
        gamemakers to send scores (and the usernames associated with the scores) directly 
        into the ScoreHoard servers, quickly being integrated into our custom database. 
        The ScoreHoard API allows you to receive your aggregate data in easily usable JSON. 
        Features include: GET requests for retrieving leaderboards from our database, 
        POST requests for adding gamescores into our database, user login and account 
        creation system made from scratch with email validation for authentication, 
        randomized and unique API key generation, and the ability to have 
        scores tracked for multiple games through a single account.
       </p>
       <h3>Tools</h3>                       
       <ul>                          
        <li>JavaScript</li>
        <li>Apikeygen</li>
        <li>Axios</li>
        <li>PostgreSQL</li>
        <li>Bluebird</>
        <li>Express</li>
        <li>Body-parser</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>NodeMailer</li>
        <li>Axios</li>
        <li>pbkdf2</li>
        <li>HBS</li>
        <li>PG-Promise</li>
       </ul>
       <p>If you would like a to review the code, <a class="modalA" href="https://github.com/antweer/scorehoard">ScoreHoard on GitHub</a>.</p>
       <ul class="list-inline item-details">
        <li>Application:
         <strong><a class="modalA" href="https://www.scorehoard.com/">ScoreHoard</a></strong>
        </li>
        <li>Date:
         <strong><a class="modalA" href="https://www.scorehoard.com/">June 2017</a></strong>
        </li>
        <li>Type:
         <strong><a class="modalA" href="https://www.scorehoard.com/">Team Project</a></strong>
        </li>
       </ul>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="station" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">August 2017</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h2>Weather Station</h2>
       <hr class="star-primary">
       <img src="static/img/stationModal.png" class="img-fluid img-centered" alt="">
       <br><br><h3>Application</h3>
       <p>This ia a local weather station application that integrates a Raspberry PI with a 
       temperature, humidity and barometric sensor module.
       <h3>How it works</h3>
       <p>The sensor suite is interfaced with Python to monitor the sensors and control a 
       8x8 RGB LED matrix display. Python gets a reading every 15 minutes, converts the data from 
       Celsius to Fahrenheit, and then records the data in a PostgreSQL database. Through the LED 
       display, live temperature, humidity and barometric pressure are continually dispalyed.
       </p>
       <p>The Postgres database has two tables, one for storing the temperature, humidity and 
       pressure sensor readings.  The second table stores a US Census zip code data base with longitude 
       and latitude coordinates for each zipcode in the United States.</p>
       <p>Using JavaScript on the front end, sensor data and geo cordinates can be accessed and displayed.  
       The <a class="modalA" ="http://darksky.net">Dark Sky</a> weather API was added to provide US weather information independant 
       of the local data.  Using the PostgreSQL zip code information cordinates are requested from the Dark Sky API. Zip Code weather 
       can be changed through a user input that stores a cookie locally.</p>
       <p>Local measurments are converted to JSON stringify format so the readings can displayed using Chart.js to see trends and history,
       as well as the data in a table format.<p>
       <p><strong>Weather Station</strong> is a multipage web app that reinforced the skills I learned while attending
       <a class="modalA" href="http://digitalcrafts.com">DigitalCrafts</a> coding boot camp.<p>
       <p><strong>Weather Station</strong> application takes advantage of the Raspberry PI hardware to host the web application 
       locally behind a firewall through a <a class="modalA" href="https://www.dataplicity.com>">Dataplicity</a> connection utilizing Bind that monitors the local host.<p>
       <h3>Tools</h3>                          <ul>
       <ul>                          
        <li>Python</li>
        <li>Threading</li>
        <li>Time</li>
        <li>PostgreSQL</li>
        <li>JavaScript</>
        <li>Express</li>
        <li>Express-Session</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Apicache</li>
        <li>Axios</li>
        <li>Chart.js</li>
        <li>HBS</ui>
        <li>PG-Promise</li>
       </ul>
       <p>If you would like a to review the code, <a class="modalA" href="https://github.com/g-grilli/station">Station on GitHub</a>.</p>
       <ul class="list-inline item-details">
        <li>Application:
         <strong><a class="modalA" href="https://www.weather.grilli.tech">Station</a></strong>
        </li>
        <li>Date:
         <strong><a class="modalA" href="https://www.weather.grilli.tech">August 2017</a></strong>
        </li>
        <li>Type:
         <strong><a class="modalA" href="https://www.weather.grilli.tech">Individual Project</a></strong>
        </li>
       </ul>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ktrac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">July 2017</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h2>Kidney Track</h2>
       <hr class="star-primary">
       <img src="static/img/ktracModal.png" class="img-fluid img-centered" alt=""><br><br>
       <h3>Problem</h3>
       <p>The first year after a kidney transplant requires a lot of monitoring, 
       changes  and tracking.</p><p>Currently the transplant recipient leaves the hospital 
       with a 3 inch ring binder which contains information on items such as medications, dosages, 
       when to take them, and a schedule of doctor visits. A separate  section to track 
       your daily weight weight and blood pressure reading.  A section on what to do if. 
       A section on diet. Even a handy dandy section for a business card collection.  
       </p><p>This book needs to be hauled around to various checkups and tests, but the information 
       quickly changes as medications are added, dosages changed or just stopped altogether, 
       clinic appointments and tests are added,  for the pack rat at heart this creates 
       a daunting challenge and administrative PIB.</p>
       <h3>Solution</h3> 
       <p><strong>Kidney Track</strong> is a single page progressive web app that help's ease the administrative 
       burden for the transplant family.<p>
       <p><strong>Kidney Track</strong> takes advantage of the Firebase API to store user data which makes the information 
       available on any web connected device the user selects.<p>
       <h4>Tools</h4>
       <ul>
        <li>React</li>
        <li>Redux</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Firebase</li>
        <li>Material-ui</li>
        <li>Moment</li>
       </ul>
       <p>If you would like a to review the code, <a class="modalA" href="https://github.com/g-grilli/kidney_track"></a>.</p>
       <ul class="list-inline item-details">
        <li>Application:
         <strong><a class="modalA" href="https://ktrack.grilli.tech/">K-Track</a></strong>
        </li>
        <li>Date:
         <strong><a class="modalA" href="https://ktrack.grilli.tech/">July 2017</a></strong>
        </li>
        <li>Type:
         <strong><a class="modalA" href="https://ktrack.grilli.tech/">Individual Project</a></strong>
        </li>
       </ul>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="text-center">
 <div class="footer-above">
  <div class="container">
   <div class="row">
    <div class="footer-col col-md-4">
     <h3>Location</h3>
     <p>Houston, Texas</p>
    </div>
  <div class="footer-col col-md-4">
    <h3>Around the Web</h3>
      <a href="https://linkedin.com/in/genegrilli"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/g-grilli"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
   </div>
  <div class="footer-col col-md-4">
   <h3>Gene Grilli</h3>
   <p>A passion for coding!</p>
  </div>
 </div>
</div>
</div>
<div class="footer-below">
 <div class="container">
  <div class="row">
   <div class="col-lg-12">
    <h4>Copyright &copy; grilli.tech 2017</h4>
   </div>
  </div>
</div>
</div>
</footer>




