<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/02863f79d4.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="/static/ggstylesheet.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
 </head>
 <body>
<!--Navagation-->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="#maincontent">Gene Grilli</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
     </li>
    </ul>
   </div>
  </nav>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script data-cfasync="false" type="text/javascript"
  src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
 </body>
</htmll>